/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-prc-block-report-pagination {
	color: inherit;
	background: inherit;
	display: flex;
	flex-direction: column;

	.wp-block-prc-block-report-pagination__next-post-button {
		display: flex;
		width: 100%;
		font-size: 0.875em;
		padding: 1em;
		align-items: center;
		justify-content: center;
		box-sizing: border-box;
		background-color: var(--next-button-background-color);
		color: var(--next-button-text-color);
		box-shadow: inset 0 3px 4px -2px var(--next-button-box-shadow-color);
		&:hover {
			opacity: 0.65;
		}
	}

	.common-block-style__pagination__pagination-numbers {
		.common-block-style__pagination__page-numbers {
			background-color: var(--item-background-color);
			color: var(--item-text-color);
			border-color: var(--item-brdr-color);

			&:hover {
				background-color: var(--item-hover-background-color);
			}

			&.is-active {
				background-color: var(--item-active-background-color);
			}
		}
	}
}
